  <!-- layout-->
  <div id="layout" class="layout-wide">
	<!-- Header Section-->
	<header class="slide">
	   <!-- nav_logo Section-->
		<div class="nav_logo animated fadeInDown">            
			<div class="container">
				<div class="row">
					<!-- Logo-->
					<div class="col-md-3 logo">
						<a href="/" title="Back to Home">                            
							<img src="assets/img/logo.png"  alt="Logo" class="logo_assets/img">
						</a>
					</div>
					<!-- End Logo-->
												  
					      
				</div>
			</div>
		</div>
		<!-- End nav_logo Section-->
		
		<!-- Slide Section-->    
		<div class="tp-banner-container">
			<div class="tp-banner" >
				<ul>
					<!-- SLIDE  01-->
					<li data-transition="slidehorizontal" data-slotamount="7" data-masterspeed="1000"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7">

						<!-- LAYER NR. 1 -->
						<div class="tp-caption tp-fade fadeout fullscreenvideo"
							data-x="0"
							data-y="0"
							data-speed="1000"
							data-start="1100"
							data-easing="Power4.easeOut"
							data-endspeed="1500"
							data-endeasing="Power4.easeIn"
							data-autoplay="true"
							data-autoplayonlyfirsttime="false"
							data-nextslideatend="true"
							data-forceCover="1"
							data-dottedoverlay="twoxtwo"
							data-aspectratio="16:9"
							data-forcerewind="on"
							style="z-index: 2">

							<video class="video-js vjs-default-skin" preload="none" width="100%" height="100%"
							poster='assets/img/slide/slides/video-bg.png' data-setup="{}">
							<source src='assets/img/video/video-slide.webm' type='video/webm' />
							</video>
						</div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption large_bold_white tp-fade fadeout tp-resizeme"
							data-x="30"
							data-y="120" data-voffset="0"
							data-speed="500"
							data-start="1000"
							data-easing="Power4.easeOut"
							data-splitin="chars"
							data-splitout="chars"
							data-elementdelay="0.05"
							data-endelementdelay="0.05"
							data-endspeed="300"
							style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Software Design and Development
						</div>
						<!-- LAYER NR. 2 -->

						<!-- LAYER NR. 3 -->
						<div class="tp-caption medium_light_white tp-fade fadeout tp-resizeme"
							data-x="30"
							data-y="195" data-voffset="120"
							data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="500"
							data-start="1800"
							data-easing="Power3.easeInOut"
							data-splitin="words"
							data-splitout="words"
							data-elementdelay="0.12"
							data-endelementdelay="0.12"
							data-endspeed="300"
							style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">Software Consultant Services
						</div>
						<!-- LAYER NR. 3 -->
					</li>
					 <!-- END SLIDE  01-->

				
				</ul>
			</div>
		</div>
		<!-- End Slide Section-->
	</header>
	<!-- End Header Section-->
		
	<!-- Info title-->
	<div class="row info_title wow fadeInUp">
		<div class="vertical_line">
			<div class="circle_bottom"></div>
		</div>
		<div class="info_vertical animated">
			<h1>We work to raise the level of your software projects with our experienced and dedicated software consultants.</h1>
		</div>
		<div class="vertical_line"></div>

		<i class="fa fa-cogs right"></i>
	</div>
	<!-- End Info title-->



	<!-- Info title-->
	<div class="row info_title wow fadeInUp">
		<div class="vertical_line">
			<div class="circle_bottom"></div>
		</div>
		<div class="info_vertical animated">
			<h1>Our <span>Great</span> Process</h1>
		</div>
		<div class="vertical_line"></div>

		<i class="fa fa-tablet right"></i>
	</div>
	<!-- End Info title-->

	<!-- End content info - Services Section -->
	<section class="content_info">
		<!-- Services-->
		<section class="info_resalt borders">
			<div class="container wow fadeInUp">
				<div class="row text-center">
					<div class="service-process">
						<!-- Step 1 -->                        
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
							<div class="thumbnail">
								<div class="caption-head">
									<em class="caption-icon fa fa-graduation-cap icon-big"></em>                            
									<h2 class="caption-title">Imagine</h2>
								</div>
							</div>
						</div>    
						<!-- End Step 1 -->                      

						<!-- Step 2 -->                        
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
							<div class="thumbnail">
								<div class="caption-head">
									<em class="caption-icon fa fa-edit icon-big"></em>
									<h2 class="caption-title">Strategy</h2>
								</div>
							</div>
						</div>   
						<!-- End Step 2 -->                       

						<!-- Step 3 -->
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
							<div class="thumbnail">
							  <div class="caption-head">
								<em class="caption-icon fa fa-cog icon-big"></em>
								  <h2 class="caption-title">Build</h2>
							  </div>
							</div>
						</div>
						<!-- End Step 3 -->  

						<!-- Step 4 -->
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
							<div class="thumbnail">
							  <div class="caption-head">
								<em class="caption-icon fa fa-plane icon-big"></em>
								  <h2 class="caption-title">Launch</h2>
							  </div>                           
							</div>
						</div>
						<!-- End Step 4 --> 
					</div> 

					<div class="col-md-12 single_services">
						<p class="lead">We limit our concurrent projects to ensure your company gets the most care and attention possible.
						</p>
					</div>
				</div>
			</div> 
		</section>  
		<!-- End Services--> 
	</section>   
	<!-- End content info - Services Section --> 

	<!-- footer-->
	<footer class="footer_top">
		<div class="container">
			<div class="row">
				<!-- Social Section-->
				<div class="col-md-3">
					<h3>FOLLOW US</h3>
					<ul class="social">
						<li class="twitter"><span><i class="fa fa-twitter"></i></span><a target="_blank" href="https://twitter.com/proxy_tech">Twitter</a></li>
						<li class="linkedin"><span><i class="fa fa-linkedin"></i></span><a target="_blank" href="https://www.linkedin.com/company/tech-proxy">Linkedin</a></li>
					</ul>
				</div>
				<!-- End Social Section-->
				<!-- Contact Us-->
				<div class="col-md-3">
				   <h3>CONTACT US</h3>
				   <ul class="contact_footer">
						<li>
							<i class="fa fa-envelope"></i> <a target="_blank" href="mailto:onur@techproxy.co.uk">onur@techproxy.co.uk</a>
						</li>
						<li class="location">
							<i class="fa fa-home"></i> <a target="_blank" href="https://goo.gl/maps/URGiKafp5ZTSYB8M6"> 17 Green Lanes, London</a>
						</li>                                   
					</ul>
				</div>
				<!-- Contact Us-->

				<div class="col-md-6">
					<h3>Get in touch</h3>
					
					
					<!-- Map area-->
					<section class="map_area">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2480.863737959937!2d-0.08866198422836591!3d51.552397579642516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761c86bd550397%3A0x1c93ed26bf9ef886!2s17%20Green%20Lanes%2C%20Newington%20Green%2C%20London%20N16%209BS!5e0!3m2!1sen!2suk!4v1620332565127!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</section>
					<!-- End Map area-->
				</div>
			</div>
		</div>
	</footer>      
	<!-- End footer-->

	<!-- footer-->
	<footer class="coopring">
		<p>&copy; 2021 Tech Proxy. All Rights Reserved.</p>
	</footer>      
	<!-- End footer-->
</div>
<!-- End layout-->


